:root {
  --background: white;
  --text-primary: black;
  --button-bg: white;
  --button-text: black;
}

[data-theme="dark"] {
  --background: black;
  --text-primary: white;
  --button-bg: black;
  --button-text: white;
}
body {
  background-color: var(--background);
}
.switch {
  background-color: var(--background);
}
button {
  background-color: var(--button-bg);
  color: var(--button-text);
  margin: 0;
}
